.woocommerce-checkout {
  form.checkout {
    display: grid;
    grid-template-columns: 55% 1fr;
    grid-template-areas: "a b";
    gap: 4rem;
    padding: 8rem 2rem 4rem;

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
      gap: 2rem;
      grid-template-areas: "a" "b";
    }
  }

  .woocommerce-form-coupon-toggle,
  .woocommerce-notices-wrapper,
  .woocommerce-info,
  .woocommerce-terms-and-conditions-wrapper,
  .woocommerce-SavedPaymentMethods-saveNew {
    display: none !important;
  }

  #customer_details {
    .col-1 {
      width: 100%;

      .form-row {
        margin-top: 2rem;
      }
    }
    .col-2 {
      display: none;
    }
  }

  #order_review_heading {
    grid-area: b;
  }
  #order_review {
    grid-area: b;
    padding-top: 4rem;
    .shop_table {
      margin-bottom: 0;
    }
    .cart_item {
      .variation {
        display: none;
      }
    }
  }

  #payment {
    background-color: transparent;
    * {
      font: inherit !important;
    }

    .form-row {
      padding: 0;
    }

    .wc_payment_methods {
      border: none !important;
    }
    .payment_box {
      background-color: transparent !important;
      border: 1px solid rgba(0, 0, 0, 0.1);
      &::before {
        border: none !important;
      }
    }

    #place_order {
      background-color: #fec32e;

      color: #fff;
      border: none;
      padding: 1rem 2rem;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;
      float: unset;
      width: 100%;
      margin-top: 1rem;
      border-radius: 100px;
      &:hover {
        background-color: #ed2b30;
      }
    }
  }
}

.woocommerce-order {
  padding: 8rem 2rem 4rem;
  .woocommerce-notice,
  h2 {
    margin-bottom: 1rem;
  }
}
