.custom_cart_overlay {
    position: fixed;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9;
    display: none;

    &.checkout_page {
        @media only screen and (min-width: 1250px) {
            display: none !important;
        }
    }
}

.custom_side_cart {
    background-color: #fff;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: 10;
    box-sizing: border-box;
    transition: all 350ms;
    transform: translateX(100%);
    width: 682px;

    &.active {
        transform: translateX(0);
    }

    &.checkout_page {
        @media only screen and (min-width: 1250px) {
            position: sticky;
            transform: translateX(0);
        }

        .cart_header {
            .close_cart {
                @media only screen and (min-width: 1250px) {
                    display: none;
                }
            }
        }

        .custom_side_cart_content {
            .checkout_btn_holder {
                display: none;
            }
        }
    }

    .cart_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 11px 0 15px;

        h2 {}

        .close_cart {
            width: 30px;
            cursor: pointer;
        }
    }

    .custom_side_cart_content {
        display: flex;
        flex-direction: column;
        height: 100vh;
        padding-bottom: 40px;
        box-sizing: border-box;

        .empty_cart_message {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            width: 100%;
            text-align: center;
        }

        .item_added_to_cart_message {
            padding: 20px 15px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                margin-right: 5px;
                width: 15px;
            }
        }

        .items {
            display: flex;
            flex-direction: column;
            height: 100%;
            overflow: auto;

            .item {
                padding: 35px 20px;
                display: flex;
                justify-content: space-between;

                .item_info_col {
                    &.image_col {
                        display: flex;
                        align-items: center;
                    }

                    .image_holder {
                        display: block;
                        width: 150px;
                        height: 136px;
                        border-radius: 10px;
                        overflow: hidden;
                        position: relative;

                        img {
                            z-index: 0;
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }

            .checkout_btn_holder {
                margin-top: auto;
                padding: 0 30px;

                .checkout_btn {
                    margin-top: 60px;

                    width: 100%;
                }
            }
        }
    }

    .cart_footer {
        text-align: center;
    }
}