#fp_main {
  background: $color-yellow;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  .close {
    position: absolute;
    color: #fff;
    top: 1.5em;
    right: 1.5em;
    height: 50px;
    display: flex;
    align-items: center;
    mix-blend-mode: difference;
    margin: auto;
    min-height: 35px;
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    .line {
      height: 3px;
      width: 40px;
      min-width: 30px;
      background: #fff;
      transform-origin: center;

      &:nth-child(1) {
        transform: rotate(45deg);
      }

      &:nth-child(2) {
        margin: -3px 0;
        opacity: 0;
      }

      &:nth-child(3) {
        transform: rotate(-45deg);
      }
    }
  }
  .marquee__alt-modal {
    position: absolute;
    left: 0;
    align-items: flex-start;
  }
  .images {
    width: 30vw;
    height: 30vw;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    z-index: 1;
    @media screen and (max-width: $mobile-breakpoint) {
      width: 65vw;
      height: 65vw;
    }

    img {
      width: 100%;
      height: 100%;
      &:not(:first-of-type) {
        position: absolute;
        left: 0;
        top: 0;
      }
      @for $i from 1 through 20 {
        &:nth-child(#{$i}) {
          z-index: 10 - $i;
        }
      }

      &:nth-child(4n + 1) {
        transform: rotate(10deg);
      }
      &:nth-child(4n + 2) {
        transform: rotate(30deg);
      }
      &:nth-child(4n + 3) {
        transform: rotate(-15deg);
      }
      &:nth-child(4n + 4) {
        transform: rotate(-30deg);
      }
    }
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .count {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1.5em;
    .row {
      align-items: center;
      .col {
        position: relative;
        overflow: hidden;
        h2 {
          line-height: 1;
          margin-right: 10px;
          transition: opacity 0.3s;
          width: 40px;
          &:not(:first-of-type) {
            position: absolute;
            left: 0;
            top: 0;
            background: $color-yellow;
            opacity: 0;
          }
        }

        .inner-container {
          transition: transform 0.3s;
          .inner {
            @media screen and (max-width: $mobile-breakpoint) {
              height: 19px;
            }
          }
        }
      }
    }

    @for $i from 1 through 20 {
      &.init-#{$i} {
        .row {
          .col {
            h2 {
              &:nth-child(#{$i + 1}) {
                opacity: 1;
              }
            }

            .inner-container {
              transform: translateY(-#{$i * 21}px);

              @media screen and (max-width: $mobile-breakpoint) {
                transform: translateY(-#{$i * 19}px);
              }
            }
          }
        }
      }
    }
  }
}
body.page-template-tmplt-btg {
  footer {
    display: none;
  }
}
