* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
}

html,
body {
  font-family: "Agipo";
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  color: #000;
  scrollbar-width: none;
  background: $color-tan;
}

body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

h1,
h2 {
  font-family: "GrotzecPoster-CondensedBold, Grotzec Poster";
  text-transform: uppercase;
}

h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 11vw;
  line-height: 0.8;
  .nav-container & {
    font-size: 18vh;
    height: 16vh;
    display: flex;
    align-items: center;

    @media screen and (max-width: $mobile-breakpoint) {
      font-size: 10vh;
      height: 9vh;
    }
  }

  @media screen and (max-width: $mobile-breakpoint) {
    font-size: 16vw;
  }
}

h2 {
  font-size: 55px;
  line-height: 1;

  @media screen and (max-width: $laptop-breakpoint) {
    font-size: 50px;
  }

  @media screen and (max-width: $mobile-breakpoint) {
    font-size: 26px;
  }
}

h3 {
  font-family: "Agipo";
  font-style: normal;
  font-weight: 700;
  font-stretch: condensed;
  font-size: 52px;
  text-transform: uppercase;

  @media screen and (max-width: $laptop-breakpoint) {
    font-size: 46px;
  }

  @media screen and (max-width: $mobile-breakpoint) {
    font-size: 26px;
  }
}

h4 {
  font-family: "Agipo";
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-size: 30px;

  @media screen and (max-width: $laptop-breakpoint) {
    font-size: 24px;
  }
  @media screen and (max-width: $mobile-breakpoint) {
    font-size: 20px;
  }
}

h5 {
  font-size: 20px;
  @media screen and (max-width: $mobile-breakpoint) {
    font-size: 18px;
  }
}

h6 {
  font-family: "Agipo";
  font-style: normal;
  font-weight: 700;
  font-stretch: condensed;
  font-size: 20px;
  text-transform: uppercase;

  @media screen and (max-width: $mobile-breakpoint) {
    font-size: 18px;
  }
}

p {
  font-size: 18px;
  @media screen and (max-width: $laptop-breakpoint) {
    font-size: 16px;
  }
}

ul {
  li {
    list-style: none;
  }
}

a {
  color: inherit;
  text-decoration: none;
  line-height: 1.1;
  cursor: pointer;
}

.font__headline {
  font-family: "GrotzecPoster-CondensedBold, Grotzec Poster";
}

.row {
  display: flex;
}

.col {
  display: flex;
  flex-direction: column;
}
.cursor {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  user-select: none;
  pointer-events: none;
  transform-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17px;
  height: 17px;
  transition: width 0.3s, height 0.3s;
  body.init__cursor-shapes & {
    width: 35vw;
    height: 35vw;
    background: var(--bg-image-one);
  }

  body.init__cursor-hover & {
    width: 68px;
    height: 68px;
    mix-blend-mode: difference;
  }

  @media (hover: none) {
    display: none;
  }

  @media screen and (max-width: $mobile-breakpoint) {
    display: none;
  }

  #msvgRectangle,
  #msvgHalfCircle,
  #msvgCircle,
  #msvgPentagon,
  #msvgStar {
    visibility: hidden;
  }
}

.btn-wrapper {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn__blob {
  position: absolute;
  color: #000;
  height: 70px;
  width: 70px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 60px;
  overflow: hidden;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 1;
  #join & {
    color: $color-tan;
  }
  &:hover {
    height: 100px;
    color: $color-tan;

    #join & {
      color: #000;
    }
    &::after {
      height: 100%;
    }

    span {
      &:first-of-type {
        opacity: 0;
      }
      &:last-of-type {
        opacity: 1;
      }
    }
  }
  &::before {
    content: "";
    background: $color-yellow;
    position: absolute;
    height: 100%;

    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all 0.4s;

    #join & {
      background: $color-red;
    }
  }

  &:after {
    content: "";
    background: $color-red;
    position: absolute;

    left: 0;
    top: 0;
    width: 100%;
    height: 0%;
    z-index: -1;
    transition: all 0.4s;

    #join & {
      background: $color-yellow;
    }
  }

  span {
    transition: all 0.4s;

    &:last-of-type {
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      opacity: 0;
    }
  }
}

.hover__headline,
.hover__headline-contact {
  display: flex;
  align-items: center;
  transform-origin: left bottom;
  perspective: 10em;

  span {
    transform-style: preserve-3d;
    position: relative;
    pointer-events: none;

    &:last-of-type {
      position: absolute;
      color: $color-yellow;
      top: 0;
      left: 0;
      div {
        opacity: 0;
        transform: translate(0%, 40%) rotateX(90deg);
      }
    }
  }
}

.img-wrapper {
  display: flex;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
}

.disabled-pointer {
  pointer-events: none !important;
}

.hidden {
  display: none !important;
}

.no-overflow {
  overflow: hidden;
}

#smooth-wrapper {
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

#smooth-content {
  overflow: visible;
  width: 100%;
  &.loading {
    overflow: hidden;
    &::before {
      content: "";
      position: fixed;
      z-index: 99999;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $color-tan;
    }
  }
}

.page-transition {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 9999999;
  pointer-events: none;
  display: flex;
  align-items: flex-start;
  div {
    width: calc(100% / 6);
    background: $color-red;
  }
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999999;
  pointer-events: none;
  html.loaded & {
    display: none;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.marquee__alt,
.marquee__alt-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 0;
  > div {
    display: flex;
    justify-content: flex-start;
    white-space: nowrap;
    > * {
      margin: 0 5px;
    }
  }
}

.headline {
  pointer-events: none;
}

#connect {
  padding: 8em 0;
  background: $color-yellow;
  border-bottom: 2px solid #000;
  overflow: hidden;
  @media screen and (max-width: $mobile-breakpoint) {
    padding: 4em 0;
  }
  &.bg__red {
    background: $color-red;

    .container {
      .btn-wrapper {
        .btn__blob {
          &::before,
          &::after {
            background: $color-yellow;
          }

          &:hover {
            background: #000;
          }
        }
      }
    }
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > img {
      width: 60%;
      margin-bottom: -2vw;

      @media screen and (max-width: $mobile-breakpoint) {
        width: 80%;
        margin-bottom: 2em;
      }
    }

    p {
      margin: 0 0 1em;
      text-align: center;
    }

    .btn-wrapper {
      z-index: 1;
      .btn__blob {
        &::before {
          background: $color-red;
        }
      }
    }
  }
}

.cart {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  display: flex;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;

  &--updating {
    .cart__loader {
      display: block;
    }

    .cart__empty-message {
      display: none;
    }
  }

  body.init__cart & {
    opacity: 1;
    pointer-events: all;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: -1;
  }

  &__loader {
    position: absolute;
    top: 2rem;
    left: 2rem;
    z-index: 2;
    display: none;
  }

  &__empty-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  &__container {
    background: $color-yellow;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    position: relative;
  }
  &__headline {
    text-align: center;
    border-bottom: 2px solid #000;
    padding: 4rem 2rem 2rem;
    margin-bottom: 2rem;
  }
  &__close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
    width: 30px;
    height: 30px;
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      width: 100%;
      height: 2px;
      background: #000;
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  &__items {
    padding: 0 2rem;
    margin: 0 0 auto;
    max-height: 100%;
    overflow-y: auto;
  }

  &__item {
    display: grid;
    grid-template-columns: 40% 1fr;
    gap: 2rem;
    margin-bottom: 2rem;

    &:not(:last-of-type) {
    }

    &--info {
      align-self: center;
    }

    p {
      margin-top: 0.2rem;
    }

    img {
      max-width: 100%;
      height: auto;
    }

    .row {
      align-items: flex-end;
      margin: 0.5rem 0 1rem;
      input {
        margin: 0 1rem 0 0.5rem;
        background-color: transparent;
        width: 50px;

        font: inherit;
        border: none;
        border-bottom: 2px solid #000;
        padding: 0.2rem;
      }
    }

    &--remove {
      cursor: pointer;
      border: none;
      outline: none;
      font: inherit;
      background: transparent;
      color: #000;
      text-decoration: underline;
      margin-top: 0.5rem;
      font-size: 14px;
    }
  }

  &__footer {
    padding: 2rem;
    text-align: center;
    border-top: 2px solid #000;
    .btn {
      margin: auto;
      background-color: $color-red;
      color: #fff;
      margin-top: 1rem;
    }
  }
}
.desktop-only {
  @media screen and (max-width: $mobile-breakpoint) {
    display: none;
  }
}

.mobile-only {
  @media screen and (min-width: $mobile-breakpoint) {
    display: none;
  }
}

.spinner {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid $color-red; /* Blue */
  border-radius: 50%;
  width: 28px;
  height: 28px;
  animation: spin 2s linear infinite;
}

.default-page {
  padding: 8rem 2rem 4rem;
  max-width: 1000px;
  margin: 0 auto;
  &__heading {
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid #000;
  }
  &__content {
    > h1,
    > h2,
    > h3,
    > h4,
    > h5,
    > h6,
    > ul,
    > ol {
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }

    & > p {
      line-height: 1.2;
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
    img {
      max-width: 100%;
      height: auto;
    }

    figure {
      max-width: 100%;
    }

    a {
      color: $color-red;
      text-decoration: underline;
    }

    ol {
      padding-left: 1em;
      li {
        list-style-type: decimal;
      }
    }

    ul {
      padding-left: 1em;
      li {
        list-style-type: disc;
      }
    }

    li {
      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }
    }

    hr {
      margin: 2rem 0;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
